<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.theflopguyproductions.ticktrack">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".application.TickTrack"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/DarkTheme">
        <receiver
            android:name=".receivers.BackupScheduleReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="START_BACKUP_SCHEDULE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.BackupRestoreService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".accounts.SwitchAccountActivity" />

        <receiver
            android:name=".receivers.TimeChangeReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.BootReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.REBOOT" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <service
            android:name=".startup.service.OptimiserService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".startup.service.BatteryOptimiseReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="ACTION_OPTIMISING_DONE_CHECK" />
            </intent-filter>
        </receiver>

        <activity android:name=".startup.StartUpActivity" />
        <activity
            android:name=".timer.ringer.TimerRingerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="TickTrackTimer"
            android:theme="@style/FullscreenTheme" />

        <service
            android:name=".timer.service.TimerService"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".timer.service.TimerRingService"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".stopwatch.service.StopwatchNotificationService"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".timer.activity.TimerActivity" />
        <activity android:name=".counter.activity.CounterEditActivity" />
        <activity
            android:name=".counter.activity.CounterActivity"
            android:parentActivityName=".SoYouADeveloperHuh" />
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".SoYouADeveloperHuh"
            android:label="@string/title_activity_so_you_a_developer_huh">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".timer.receivers.TimerBroadcastReceiver" />

        <service
            android:name=".counter.notification.CounterNotificationService"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>