<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.theflopguyproductions.ticktrack">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:name=".application.TickTrack"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/DarkTheme">
        <receiver
            android:name=".receivers.CounterMilestoneReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="ACTION_COUNTER_MILESTONE_REMINDER" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.CloudNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_ticktrack_logo_notification_icon" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/Accent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/TICK_TRACK_GENERAL" />

        <activity
            android:name=".about.AboutActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".widgets.shortcuts.StopwatchWidget"
            android:label="Stopwatch">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/stopwatch_widget_info" />
        </receiver>
        <receiver
            android:name=".widgets.shortcuts.QuickTimerWidget"
            android:label="QuickTimer">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/quick_timer_widget_info" />
        </receiver>
        <receiver
            android:name=".widgets.shortcuts.ScreensaverWidget"
            android:label="Screensaver">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/screensaver_widget_info" />
        </receiver>
        <receiver
            android:name=".widgets.shortcuts.CreateTimerWidget"
            android:label="Timer">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/create_timer_widget_info" />
        </receiver>

        <activity android:name=".widgets.shortcuts.panel.ShortcutsPanelConfigActivity" />

        <receiver
            android:name=".widgets.shortcuts.panel.ShortcutsPanelWidget"
            android:label="Shortuts Console">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/shortcuts_panel_widget_info" />
        </receiver>

        <activity
            android:name=".widgets.clock.ClockWidgetConfigActivity"
            android:launchMode="singleTask"
            android:taskAffinity="" />

        <receiver
            android:name=".widgets.clock.TickTrackClockWidget"
            android:label="Clock">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/tick_track_clock_widget_info" />
        </receiver>

        <activity
            android:name=".widgets.counter.CounterWidgetConfigActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="" />

        <receiver
            android:name=".widgets.counter.CounterWidget"
            android:label="Counter">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="ACTION_WIDGET_CLICK_PLUS" />
                <action android:name="ACTION_WIDGET_CLICK_MINUS" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/counter_widget_info" />
        </receiver>

        <activity
            android:name=".screensaver.ScreensaverActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_screensaver"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="" />

        <receiver
            android:name=".receivers.BackupScheduleReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.theflopguyproductions.ticktrack.START_BACKUP_SCHEDULE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.BackupRestoreService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".accounts.SwitchAccountActivity" />

        <receiver
            android:name=".receivers.TimeChangeReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.BootReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.REBOOT" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <service
            android:name=".startup.service.OptimiserService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".startup.service.BatteryOptimiseReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="ACTION_OPTIMISING_DONE_CHECK" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".startup.StartUpActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".timer.ringer.TimerRingerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:directBootAware="true"
            android:excludeFromRecents="true"
            android:label="TickTrackTimer"
            android:launchMode="singleTask"
            android:showOnLockScreen="true"
            android:showWhenLocked="true"
            android:taskAffinity=""
            android:theme="@style/FullscreenTheme" />

        <service
            android:name=".timer.service.TimerService"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".timer.service.TimerRingService"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".stopwatch.service.StopwatchNotificationService"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".timer.activity.TimerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".counter.activity.CounterEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".counter.activity.CounterActivity"
            android:parentActivityName=".SoYouADeveloperHuh"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".contributors.ContributorsActivity"
            android:label="ContributorsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SoYouADeveloperHuh"
            android:label="@string/title_activity_so_you_a_developer_huh"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="SoYouADeveloperHuh" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/ticktrack_shortcut" />
        </activity>

        <receiver android:name=".timer.receivers.TimerBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="ACTION_TIMER_BROADCAST" />
                <action android:name="ACTION_QUICK_TIMER_BROADCAST" />
            </intent-filter>
        </receiver>

        <service
            android:name=".counter.notification.CounterNotificationService"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>